openvla==0.0.3
jsonlines==4.0.0
nvidia-nvtx-cu12==12.8.90
tifffile==2026.3.3
napari-console==0.1.4
dm-env==1.6
regex==2026.2.28
HeapDict==1.0.1
dm-tree==0.1.9
opencv-python==4.13.0.92
zarr==3.1.5
pandas==3.0.1
fonttools==4.61.1
bitsandbytes==0.49.2
zipp==3.23.0
tensorboard==2.15.2
networkx==3.6.1
pyasn1_modules==0.4.2
fsspec==2026.2.0
iniconfig==2.3.0
hf-xet==1.3.2
cuda-pathfinder==1.4.0
annotated-types==0.7.0
PyYAML==6.0.3
OpenEXR==3.4.6
filelock==3.25.0
wheel==0.46.3
chardet==7.0.1
imagesize==2.0.0
Pygments==2.19.2
array_record==0.8.3
rpds-py==0.30.0
stack-data==0.6.3
ipython_pygments_lexers==1.1.1
alabaster==1.0.0
freetype-py==2.5.1
Werkzeug==3.1.6
Pint==0.25.2
nest-asyncio==1.6.0
opt_einsum==3.4.0
triton==3.6.0
tensorflow==2.15.0
gast==0.7.0
pyasn1==0.6.2
toml==0.10.2
hydra-core==1.3.2
ml_collections==1.1.0
prompt_toolkit==3.0.52
etils==1.14.0
h5py==3.15.1
matplotlib==3.10.8
google-pasta==0.2.0
nvidia-curand-cu12==10.3.9.90
jupyter_client==8.8.0
cycler==0.12.1
build==1.4.0
pycparser==3.0
googleapis-common-protos==1.72.0
platformdirs==4.9.2
parso==0.8.6
evdev==1.9.3
nvidia-nvshmem-cu12==3.4.5
beautifulsoup4==4.14.3
contourpy==1.3.3
nvidia-cublas-cu12==12.8.4.1
tensorflow-io-gcs-filesystem==0.37.1
multidict==6.7.1
protobuf==4.25.8
toolz==1.1.0
numpy==1.26.4
wandb==0.25.0
numpydoc==1.10.0
MarkupSafe==3.0.3
PyOpenGL==3.1.10
napari-svg==0.2.1
python-dateutil==2.9.0.post0
Sphinx==9.0.4
huggingface_hub==0.36.2
jedi==0.19.2
importlib_metadata==8.7.1
frozenlist==1.8.0
jupyter_core==5.9.1
tensorboardX==2.6.4
httpcore==1.0.9
docstring_parser==0.17.0
typing-inspect==0.9.0
soupsieve==2.8.3
npe2==0.8.1
nvidia-cusparselt-cu12==0.7.1
typing-inspection==0.4.2
requests-oauthlib==2.0.0
pyzmq==27.1.0
torchvision==0.25.0
trimesh==4.11.2
debugpy==1.8.20
pydantic-compat==0.1.2
tensorflow-hub==0.16.1
cmake==3.31.10
sphinxcontrib-serializinghtml==2.0.0
typer==0.24.1
yarl==1.23.0
glfw==2.10.0
tensorboard-data-server==0.7.2
sentry-sdk==2.54.0
ptyprocess==0.7.0
PyQt5==5.15.11
robosuite==1.5.2
Markdown==3.10.2
scikit-image==0.26.0
nvidia-cuda-runtime-cu12==12.8.90
sphinxcontrib-jsmath==1.0.1
llvmlite==0.46.0
quadprog==0.1.13
simple-parsing==0.1.8
typing_extensions==4.15.0
pexpect==4.9.0
sphinxcontrib-qthelp==2.0.0
lxml==6.0.2
shellingham==1.5.4
accelerate==0.32.1
GitPython==3.1.46
openvla==0.0.3
snowballstemmer==3.0.1
sympy==1.14.0
tf_keras==2.20.1
dask==2026.1.2
flexcache==0.3
docutils==0.22.4
roman-numerals==4.1.0
tornado==6.5.5
omegaconf==2.3.0
pynput==1.8.1
napari==0.6.6
superqt==0.8.0
safetensors==0.7.0
immutabledict==4.3.1
gdown==5.2.1
pooch==1.9.0
ipykernel==6.31.0
matplotlib-inline==0.2.1
typeguard==2.13.3
tomli_w==1.2.0
napari-plugin-engine==0.2.1
h11==0.16.0
in-n-out==0.2.1
pip==26.0.1
attrs==25.4.0
robomimic==0.3.0
cloudpickle==3.1.2
cuda-bindings==12.9.4
aiohttp==3.13.3
jsonschema==4.26.0
mujoco==3.5.0
nvidia-cusparse-cu12==12.5.8.93
scipy==1.17.1
sentencepiece==0.1.99
tensorflow-graphics==2021.12.3
timm==0.9.10
vispy==0.15.2
tokenizers==0.19.1
lazy-loader==0.5
smmap==5.0.2
referencing==0.37.0
pillow==12.1.1
nvidia-nccl-cu12==2.27.5
google-auth==2.48.0
promise==2.3
torch==2.10.0
PyQt5_sip==12.18.0
namex==0.1.0
triangle==20250106
draccus==0.8.0
absl-py==2.4.0
certifi==2026.2.25
google-crc32c==1.8.0
numba==0.64.0
termcolor==3.3.0
babel==2.18.0
pyyaml-include==1.4.1
idna==3.11
wrapt==1.14.2
QtPy==2.4.3
setuptools==82.0.0
mergedeep==1.3.4
flatbuffers==25.12.19
ipython==9.10.0
donfig==0.8.1.post1
qtconsole==5.7.1
executing==2.2.1
psygnal==0.15.1
google-auth-oauthlib==1.3.0
magicgui==0.10.1
partd==1.4.2
libclang==18.1.1
cryptography==46.0.5
httpx==0.28.1
sphinxcontrib-devhelp==2.0.0
optree==0.19.0
nvidia-cudnn-cu12==9.10.2.21
open_spiel==1.6.11
json-numpy==2.1.1
mdurl==0.1.2
mpmath==1.3.0
hsluv==5.0.4
pluggy==1.6.0
python-xlib==0.33
oauthlib==3.3.1
napari-plugin-manager==0.1.10
ImageIO==2.37.2
nvidia-nvjitlink-cu12==12.8.93
pydantic==2.12.5
appdirs==1.4.4
cffi==2.0.0
locket==1.0.0
anyio==4.12.1
dm_control==1.0.37
urllib3==2.6.3
Jinja2==3.1.6
antlr4-python3-runtime==4.9.3
tensorflow-addons==0.23.0
einops==0.8.2
mimicgen==1.0.0
pyarrow==23.0.1
sphinxcontrib-htmlhelp==2.1.0
nvidia-cuda-cupti-cu12==12.8.90
tensorflow-estimator==2.15.0
pytest==9.0.2
app-model==0.4.0
astunparse==1.6.3
psutil==7.2.2
nvidia-cufile-cu12==1.13.1.3
asttokens==3.0.1
tqdm==4.67.3
transformers==4.40.1
requests==2.32.5
pyparsing==3.3.2
nvidia-cufft-cu12==11.3.3.83
PyQt5-Qt5==5.15.18
tensorflow-datasets==4.9.9
kiwisolver==1.4.9
grpcio==1.78.0
PySocks==1.7.1
aiosignal==1.4.0
rich==14.3.3
imageio-ffmpeg==0.6.0
dlimp==0.0.1
ml-dtypes==0.2.0
pyproject_hooks==1.2.0
pydantic_core==2.41.5
importlib_resources==6.5.2
labmaze==1.0.6
comm==0.2.3
qpsolvers==4.9.0
packaging==26.0
wcwidth==0.6.0
annotated-doc==0.0.4
click==8.3.1
gitdb==4.0.12
charset-normalizer==3.4.4
peft==0.11.1
flexparser==0.4
numcodecs==0.16.5
pure_eval==0.2.3
keras==2.15.0
pydantic-extra-types==2.11.0
traitlets==5.14.3
mypy_extensions==1.1.0
propcache==0.4.1
nvidia-cusolver-cu12==11.7.3.90
markdown-it-py==4.0.0
pyconify==0.2.1
tensorflow-metadata==1.17.3
aiohappyeyeballs==2.6.1
jsonschema-specifications==2025.9.1
sphinxcontrib-applehelp==2.0.0
bermuda==0.1.7
six==1.17.0
decorator==5.2.1
rsa==4.9.1
cachey==0.2.1
nvidia-cuda-nvrtc-cu12==12.8.93
jaraco.functools==4.4.0
zipp==3.23.0
jaraco.text==4.0.0
wheel==0.46.3
tomli==2.4.0
jaraco.context==6.1.0
importlib_metadata==8.7.1
more-itertools==10.8.0
autocommand==2.2.2
packaging==26.0
backports.tarfile==1.2.0
platformdirs==4.4.0
